* {
  margin: 0;
  padding: 0;
}

/* NavBar */
.brand {
  font-size: 33px;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

nav {
  overflow: hidden;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a {
  color: #aaa;
  display: block;
  line-height: 2em;
  padding: 0.5em 1em;
  margin-bottom: 20px;
  text-decoration: none;
}

.bg-div {
  background: #333;
  overflow: hidden;
}

.logo {
  width: 1rem;
  height: 1rem;
  justify-content: center;
  text-align: center;
}
